@font-face {
  font-family: "SVN-Gotham-Black";
  src: url("./SVN-Gotham-Black.eot?#iefix") format("embedded-opentype"),
    url("./SVN-Gotham-Black.otf") format("opentype"), url("./SVN-Gotham-Black.woff") format("woff"),
    url("./SVN-Gotham-Black.ttf") format("truetype"), url("./SVN-Gotham-Black.svg#SVN-Gotham-Black") format("svg");
  font-weight: normal;
  font-style: normal;
}
