@font-face {
  font-family: 'SVN-Gotham-Italic';
  src: url('./SVN-Gotham-Italic.eot?#iefix') format('embedded-opentype'), url('./SVN-Gotham-Italic.otf') format('opentype'),
    url('./SVN-Gotham-Italic.woff') format('woff'), url('./SVN-Gotham-Italic.ttf') format('truetype'), url('./SVN-Gotham-Italic.svg#SVN-Gotham-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}