@font-face {
  font-family: "SVN-Gotham-Bold";
  src: url("./SVN-Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("./SVN-Gotham-Bold.woff") format("woff"),
    url("./SVN-Gotham-Bold.ttf") format("truetype"), url("./SVN-Gotham-Bold.svg#SVN-Gotham-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
